{% extends "base.html" %}
{% block title %}Experiment6{% endblock title %}
{% block body %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href='..\static\css\crypto.css'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/aos.css">
    <link rel="stylesheet" href="../static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../static/css/owl.theme.default.min.css">

    <style>
      body {
          background-image: url('../static/images/bg.jpg'); /* Replace 'your-image-url.jpg' with your image file path */
          background-size: cover; /* This ensures the image covers the entire background */
          background-repeat: no-repeat; /* Prevents the image from repeating */
          background-attachment: fixed;
          color:white; /* Fixes the background while scrolling */}

        .container {
        background-color: #393636;
        opacity: 10; /* Set the background color you want */
        }
        .page {
        background-color: rgba(0, 0, 0, 0.8); /* Replace 0.5 with the desired opacity (0 to 1) */
    }
  </style>

  </head>
  <body>
     <!-- HERO -->
    <section class="page col-lg-7 mx-auto col-md-10 col-12 ">
     <!-- BLOG DETAIL -->
     <section class="project-detail">
          <div class="container">
               <div class="row">
                <div class="col-lg-9 mx-auto col-md-10 col-12 mt-lg-5 text-center" data-aos="fade-up">
                      <h1 class="blog-category text-info white-text">CryptoCalci: Virtual Labs</h1>
                      <h4>Experiment 6</h4>
                      <h2>Aim : </h2>
                      <h4>Experiment Title	Phishing attack over LAN</h4>

                      <div class="client-info">
                          <div class="d-flex justify-content-center align-items-center mt-3">
                            <img src="../static/images/flask.jpg" class="avatar-md img-thumbnail rounded-circle" alt="male avatar">
                          </div>
                      </div>
                      <div><br><br></div>
                    </div>
               </div>
          </div>
     </section>
     <br>
     <!-- <div class="full-image text-center" data-aos="zoom-in">
       <img src="images/blog/blog-header-image.jpg" class="img-fluid" alt="blog header">
     </div> -->


     <!-- BLOG DETAIL -->
     <section class="project-detail">
          <div class="container">
               <div class="row">

                  <div class="col-lg-30 mx-auto col-md-11 col-12 my-5 pt-0" data-aos="fade-up">

                    <h2 class="blog-category text-info">Resources / Apparatus Required</h2>
                    <h4><strong>Hardware:</strong> Basic Desktop with Linux <br> <strong>Software:</strong> Python / Java</h4>

                    <h2 class="blog-category text-info">Objective</h2>
                    <h4>To study phishing attack using Kali Linux.</h4>
                </div>
              </div>
            </div>
          </section>
                <br>

    
                <section class="project-detail">
                  <div class="container">
                    <div class="row">
                      <div class="col-lg-30 mx-auto col-md-11 col-12 my-5 pt-0" data-aos="fade-up">

                    <h2 class="blog-category text-info">Theory</h2>
                    <h3>A. Kali Linux</h3>
                      <h3>
                        Kali Linux is a Debian-derived Linux distribution that is maintained by Offensive Security. It was developed by Mati Aharoni and Devon Kearns. Kali Linux is a specially designed OS for network analysts, Penetration testers, or in simple words, it is for those who work under the umbrella of cybersecurity and analysis.<br><br>
                        Its Applications: <br>
                        <strong>1.Social Engineering Toolkit</strong>
                        The Social-Engineer Toolkit (SET) is an open-source penetration testing framework designed for social engineering. SET has a number of custom attack vectors that allow you to make a believable attack in a fraction of time. These kind of tools use human behaviors to trick them to the attack vectors.
                        <br><br>
                        <strong>2.Web Attack Vectors</strong>
                        The web attack module is a unique way of utilizing multiple web-based attacks in order to compromise the intended victim. This module is used by performing phishing attacks against the victim if they click the link. There is a wide variety of attacks that can occur once they click a link.
                        <br><br>
                        <strong>3.Credential Harvester Attack Method</strong>
                        The credential harvester attack method is used when you don’t want to specifically get a shell but perform phishing attacks in order to obtain usernames and passwords from the system. In this attack vector, a website will be cloned, and when the victim enters the user credentials, the usernames and passwords will be posted back to your machine and then the victim will be redirected back to the legitimate site.
                        <br>
                      </h3>
                      
                    </div>
               </div>
               <br>
                  </div></section><br>


               
                <section class="project-detail">
                  <div class="container">
                    <div class="row">
                      <div class="col-lg-30 mx-auto col-md-11 col-12 my-5 pt-0" data-aos="fade-up">
               <!-- Video -->
                        <div class="iframe-container" style="display:flex; justify-content: center;align-items: center;">
                            <iframe width="920" height="520" src="https://www.youtube.com/embed/bXCeFPNWjsM?si=0tYfKrbYUcP-cgCo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </section><br>

            <!-- Compiler -->
            <section class="project-detail">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-30 mx-auto col-md-11 col-12 my-5 pt-0" data-aos="fade-up">
                        <h2 class="blog-category text-info">Test Your Code on Hosted Kali Machines</h2>
                        <h4>Click <a href="https://www.onworks.net/runos/create-os.html" target="_blank">HERE</a> to redirect to ONWORKS to test your code</h4>

                    <br><br>
                  </div></div></div></section><br>
                
            {% comment %} Conclusion {% endcomment %}
              <section class="project-detail">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-30 mx-auto col-md-11 col-12 my-5 pt-0" data-aos="fade-up">
                        <h2 class="blog-category text-info">Conclusion</h2>
                        <h4>In this experiment, we learned how to implement phishing attacks using Kali linux.</h4>

                    <br><br>
                    <button class="btn btn-primary" type="print" style="width: 200px; height: 60px;">Print</button>
                  </div></div></div></section><br>
                <br><br>            
          </div>    
     </section>



    <!-- SCRIPTS -->
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/aos.js"></script>
    <script src="../static/js/owl.carousel.min.js"></script>
    <script src="../static/js/smoothscroll.js"></script>
    <script src="../static/js/custom.js"></script>
    
</body>
</html>
{% endblock body %}
