{% extends "base.html" %}
{% block title %}Experiment8{% endblock title %}
{% block body %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href='..\static\css\crypto.css'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/aos.css">
    <link rel="stylesheet" href="../static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../static/css/owl.theme.default.min.css">

    <style>
      body {
          background-image: url('../static/images/bg.jpg'); /* Replace 'your-image-url.jpg' with your image file path */
          background-size: cover; /* This ensures the image covers the entire background */
          background-repeat: no-repeat; /* Prevents the image from repeating */
          background-attachment: fixed;
          color:white; /* Fixes the background while scrolling */}

        .container {
        background-color: #393636;
        opacity: 10; /* Set the background color you want */
        }
        .page {
        background-color: rgba(0, 0, 0, 0.8); /* Replace 0.5 with the desired opacity (0 to 1) */
    }
    </style>

  </head>
  <body>
     <!-- HERO -->
    <section class="page col-lg-7 mx-auto col-md-10 col-12 ">
     <!-- BLOG DETAIL -->
     <section class="project-detail">
          <div class="container">
               <div class="row">
                <div class="col-lg-9 mx-auto col-md-10 col-12 mt-lg-5 text-center" data-aos="fade-up">
                      <h1 class="blog-category text-info white-text">CryptoCalci: Virtual Labs</h1>
                      <h4>Experiment 8</h4>
                      <h2>Aim : </h2>
                      <h4>Using Kali Linux to Demonstrate the DOS and DDOS Attack using hping3 and XERXES.
                        </h4>

                      <div class="client-info">
                          <div class="d-flex justify-content-center align-items-center mt-3">
                            <img src="../static/images/flask.jpg" class="avatar-md img-thumbnail rounded-circle" alt="male avatar">
                          </div>
                      </div>
                      <div><br><br></div>
                    </div>
               </div>
          </div>
     </section>
     <br>
     <!-- <div class="full-image text-center" data-aos="zoom-in">
       <img src="images/blog/blog-header-image.jpg" class="img-fluid" alt="blog header">
     </div> -->


     <!-- BLOG DETAIL -->
     <section class="project-detail">
          <div class="container">
               <div class="row">

                  <div class="col-lg-30 mx-auto col-md-11 col-12 my-5 pt-0" data-aos="fade-up">

                    <h2 class="blog-category text-info">Resources / Apparatus Required</h2>
                    <h4><strong>Hardware:</strong> Basic Desktop with Linux <br> <strong>Software:</strong> Kali Modules</h4>

                    <h2 class="blog-category text-info">Objective</h2>
                    <h4>To Demonstrate the DOS and DDOS Attack using hping3 and XERXES Using Kali Linux  </h4>
                </div>
              </div>
            </div>
          </section>
                <br>

    
                <section class="project-detail">
                  <div class="container">
                    <div class="row">
                      <div class="col-lg-30 mx-auto col-md-11 col-12 my-5 pt-0" data-aos="fade-up">

                    <h2 class="blog-category text-info">Theory</h2>
                    <h3>A. DOS & DDOS Tools</h3>
                      <h3>

                        <strong>1.XERXES:</strong><br>
                        Denial of Service attack can be performed by using this tool. Xerxes is written in C. The framework works by maintaining a full TCP connection. After making full TCP Connection it only requires a few hundreds of requests at long term in regular intervals. As a result, Xerxes doesn’t need to spend lots of traffic requests to exhaust all the available connections on a server. Using XERXES any remote machine can be taken down or any server can be taken down easily. The tool use perfectly legitimate HTTP traffic. The tool is very useful for security testing.<br><br>
                        STEPS:<br>
                        1.	git clone https://github.com/XCHADXFAQ77X/XERXES<br>
                        2.	ls<br>
                        3.	cd xerxes<br>
                        4.	gcc xerxes.c -o xerxes<br>
                        5.	./xerxes <website name>< port number><br><br>
                        
                        <strong>2.hping3:</strong><br>
                        hping3 is a network tool able to send custom ICMP/UDP/TCP packets and to display target replies like ping does with ICMP replies. It handles fragmentation and arbitrary packet body and size, and can be used to transfer files under supported protocols. Using hping3, you can test firewall rules, perform (spoofed) port scanning, test network performance using different protocols, do path MTU discovery, perform traceroute-like actions under different protocols, fingerprint remote operating systems, audit TCP/IP stacks, etc. hping3 is scriptable using the TCL language.
                        <br><br>
                        Steps:<br>
                        hping3  -S --flood  -V  www.hping3testsite.com<br><br>
                        
                        <strong>3.Spoofed IP:</strong><br>
                        A spoofed IP address is a falsified or manipulated source IP address in a network packet to hide the sender's true identity or to launch malicious attacks.<br><br>
                        Steps:<br>
                        hping3  -S -P -U –flood  -V -rand-source www.hping3testsite.com<br>
                        hping3  -c 10000 - d 120 -S -w 64 p 21 --flood --rand-source www.hping3testsite.com<br>
                        
                        
                      </h3>
                      
                    </div>
               </div>
               <br>
                  </div></section><br>


               
                <section class="project-detail">
                  <div class="container">
                    <div class="row">
                      <div class="col-lg-30 mx-auto col-md-11 col-12 my-5 pt-0" data-aos="fade-up">
               <!-- Video -->
                        <div class="iframe-container" style="display:flex; justify-content: center;align-items: center;">
                            <iframe width="920" height="520" src="https://www.youtube.com/embed/S9FdzDXgniA?si=HGYtVYSUrmQ_XcF_" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </section><br>

            <!-- Compiler -->
            <section class="project-detail">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-30 mx-auto col-md-11 col-12 my-5 pt-0" data-aos="fade-up">
                        <h2 class="blog-category text-info">Test Your Code on Hosted Kali Machines</h2>
                        <h4>Click <a href="https://www.onworks.net/runos/create-os.html" target="_blank">HERE</a> to redirect to ONWORKS to test your code</h4>

                    <br><br>
                  </div></div></div></section><br>
                
            {% comment %} Conclusion {% endcomment %}
              <section class="project-detail">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-30 mx-auto col-md-11 col-12 my-5 pt-0" data-aos="fade-up">
                        <h2 class="blog-category text-info">Conclusion</h2>
                        <h4>In this experiment, we learned how tov use various network reconnaissance tools using Kali Linux.</h4>

                    <br><br>
                    <button class="btn btn-primary" type="print" style="width: 200px; height: 60px;">Print</button>
                  </div></div></div></section><br>
                <br><br>            
          </div>    
     </section>



    <!-- SCRIPTS -->
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/aos.js"></script>
    <script src="../static/js/owl.carousel.min.js"></script>
    <script src="../static/js/smoothscroll.js"></script>
    <script src="../static/js/custom.js"></script>
    
</body>
</html>
{% endblock body %}
