/* Global Styles */
@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);
:root {
	--primary-color: #381bbd;
	--dark-color: #141414;
	--light-color: #f4f4f4;
}

/* Normal state */
.get-started-btn {
    background-color: white;
    color: blue;
    transition: background-color 0.3s, color 0.3s;
}

/* Hover state */
.get-started-btn:hover {
    background-color: blue;
    color: white;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Arial', sans-serif;
	-webkit-font-smoothing: antialiased;
	background: #000;
	color: #999;
}

ul {
	list-style: none;
}

h1,
h2,
h3,
h4 {
	color: #fff;
}

a {
	color: #fff;
	text-decoration: none;
}

p {
	margin: 0.5rem 0;
}
/* 
img {
	width: 100%;
} */

.showcase {
	width: 100%;
	height: 70vh;
	position: relative;
	background-image: url("../static/images/bg.jpg") no-repeat center center/cover;
}


.menu-link {
	position: fixed;
	left: 20px;
	top: 20px;
	background-color: #fff;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	box-shadow: 1px 1px 10px rgba(255, 255, 255, .3);
  }
  
.menu-link span {
	position: absolute;
	width: 20px;
	height: 2px;
	background-color: #000;
	top: 50%;
	left: 50%;
	margin-top: -1px;
	margin-left: -10px;
  }
  
.menu-link span:nth-child(1) {
	transform: translateY(-6px);
  }
  
.menu-link span:nth-child(3) {
	transform: translateY(6px);
  }
  
.menu-link:hover {
	cursor: pointer;
  }
  
.menu-link:hover span:nth-child(3) {
	transform-origin: 0% 0%;
	transform: translateY(6px) rotate(-33deg);
	width: 10px;
	margin-left: 0;
  }
  
.menu-link:hover span:nth-child(1) {
	transform-origin: 0% 0%;
	transform: translateY(-6px) rotate(31deg);
	width: 12px;
	margin-left: 0;
  }
  

.menu {
	font-weight: 100;
	background: #efefef;
	width: 290px;
	height: 75%;
	padding-left: 100px;
	position: fixed;
	z-index: 100;
	-webkit-box-shadow: -3px 0px 5px 0px rgba(0, 0, 0, 0.2);
	box-shadow: -3px 0px 5px 0px rgba(0, 0, 0, 0.2);
	right: -190px;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	color: #222;
  }
  .menu:hover, .menu:focus {
	transform: translate3d(-170px, 0, 0);
	animation-timing-function: 1s ease-in;
  }
  .menu .title {
	top: 50%;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	transform: rotate(270deg);
	left: 0px;
	font-weight: 800;
	font-size: 25px;
  }
  .menu .nav {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	font-weight: 100;
  }
  .menu .nav li {
	padding-bottom: 30px;
	list-style-type: none;
  }
  .menu .nav li a {
	display: block;
	text-decoration: none;
	color: inherit;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
  }
  .menu .nav li a:hover {
	color: #aaa;
  }
  
  .intro {
	position: absolute;
	top: 30%;
	margin: 0 auto;
	left: 0;
	right: 0;
	font-size: 45px;
	text-align: center;
	font-style: italic;
  }
  
.active-menu {
	transform: translateX(-20%);
  }
  
ul {
	list-style: none;
	padding: 0;
	margin: 0;
	line-height: 3;
  }
  
li a {
	font-size: 2rem;
	color: #fff;
  }
  
a:hover {
	text-decoration: none;
  }
  
.close-btn {
	position: fixed;
	top: 30px;
	right: 30px;
	font-size: 3rem;
	transition: all 0.2s;
	transform-origin: 50% 53%;
	display: block;
	line-height: 3rem;
	text-align: center;
	width: 3rem;
	height: 3rem;
  }
  
.close-btn:hover {
	transform: rotate(180deg);
  }
.showcase::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background: rgba(0, 0, 0, 0.6);
	box-shadow: inset 120px 100px 250px #000000, inset -120px -100px 250px #000000;
}

.showcase-top {
	position: relative;
	z-index: 2;
	height: 190px;
}

.showcase-top img {
	width: 170px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin-left: 0;
}

.showcase-top a {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translate(-50%, -50%);
}

.showcase-content {
	position: relative;
	z-index: 2;
	width: 65%;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-top: 6rem;
}

.showcase-content h1 {
	font-weight: 700;
	font-size: 5.2rem;
	line-height: 1.1;
	margin: 0 0 2rem;
}

.showcase-content p {
	text-transform: uppercase;
	color: #fff;
	font-weight: 400;
	font-size: 1.9rem;
	line-height: 1.25;
	margin: 0 0 2rem;
}

/* Tabs */
.tabs {
	background: var(--dark-color);
	padding-top: 1rem;
	border-bottom: 3px solid #3d3d3d;
	border-right: none;
}

.tabs .container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 1rem;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.tabs p {
	font-size: 1.2rem;
	padding-top: 0.5rem;
}

.tabs .container > div {
	padding: 1.5rem 0;
}

.tabs .container > div:hover {
	color: #fff;
	cursor: pointer;
}

.tab-border {
	border-bottom: var(--primary-color) 4px solid;
}

/* Tab Content */
.tab-content {
	padding: 3rem 0;
	background: #000;
	color: #fff;
}

/* Hide initial content */
#tab-1-content,
#tab-2-content,
#tab-3-content {
	display: none;
	opacity: 0;
}

.show {
	display: block !important;
	opacity: 1 !important;
	transition: all 1000 ease-in;
}

#tab-1-content .tab-1-content-inner {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 2rem;
	align-items: center;
	justify-content: center;
}

#tab-2-content .tab-2-content-top {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 2rem;
	justify-content: center;
	align-items: center;
}

#tab-3-content .tab-3-content-bottom {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 2rem;
	align-items: center;
	justify-content: center;
}

.table {
	width: 100%;
	margin-top: 2rem;
	border-collapse: collapse;
	border-spacing: 0;
}

.table thead th {
	text-transform: uppercase;
	padding: 0.8rem;
}

.table tbody {
	display: table-row-group;
	vertical-align: middle;
	border-color: inherit;
}

.table tbody tr td {
	color: #999;
	padding: 0.8rem 1.2rem;
	text-align: center;
}

.table tbody tr td:first-child {
	text-align: left;
}

.table tbody tr:nth-child(odd) {
	background: #222;
}

.footer {
	max-width: 70%;
	margin: 1rem auto;
	overflow: auto;
}

.footer,
.footer a {
	color: #999;
	font-size: 10px;
}

.footer p {
	margin-bottom: 1.5rem;
}

.footer .footer-cols {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 2rem;
}

.footer li {
	line-height: 1.9;
}

.footer .lang-select {
	margin-top: 2rem;
	color: #999;
	background-color: #000;
	background-image: none;
	border: 1px solid #333;
	padding: 1rem 1.2rem;
	border-radius: 5px;
}

/* Container */
.container {
	max-width: 70%;
	margin: auto;
	overflow: hidden;
	padding: 0 2rem;
}

/* Text Styles */
.text-xl {
	font-size: 2rem;
}

.text-lg {
	font-size: 1.8rem;
	margin-bottom: 1rem;
}

.text-md {
	margin-bottom: 1.5rem;
	font-size: 1.2rem;
}

.text-center {
	text-align: center;
}

.text-dark {
	color: #999;
}

/* Buttons */
.btn {
	display: inline-block;
	background: var(--primary-color);
	color: #fff;
	padding: 0.4rem 1.3rem;
	font-size: 1rem;
	text-align: center;
	border: none;
	cursor: pointer;
	margin-right: 0.5rem;
	transition: opacity 0.2s ease-in;
	outline: none;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
	border-radius: 2px;
}

.btn:hover {
	opacity: 0.9;
}

.btn-rounded {
	border-radius: 5px;
}

.btn-xl {
	font-size: 2rem;
	padding: 1.5rem 2.1rem;
	text-transform: uppercase;
}

.btn-lg {
	font-size: 1rem;
	padding: 0.8rem 1.3rem;
	text-transform: uppercase;
}

.btn-icon {
	margin-left: 1rem;
}

@media (max-width: 960px) {

		.showcase {
		height: 70vh;
		background-image: url("../images/bg.jpg");
	}

	.hide-sm {
		display: none;
	}

	.showcase-top img {
		top: 30%;
		left: 5%;
		transform: translate(0);
	}

	.showcase-content h1 {
		font-size: 3.7rem;
		line-height: 1;
	}

	.showcase-content p {
		font-size: 1.5rem;
	}

	.footer .footer-cols {
		grid-template-columns: repeat(3, 1fr);
	}

	.btn-xl {
		font-size: 1.5rem;
		padding: 1.4rem 2rem;
		text-transform: uppercase;
	}

	.text-xl {
		font-size: 1.5rem;
	}

	.text-lg {
		font-size: 1.3rem;
		margin-bottom: 1rem;
	}

	.text-md {
		margin-bottom: 1rem;
		font-size: 1.2rem;
	}
}

@media (max-width: 700px) {
	.showcase::after {
		background: rgba(0, 0, 0, 0.6);
		box-shadow: inset 80px 80px 150px #000000, inset -80px -80px 150px #000000;
	}

	.showcase-content h1 {
		font-size: 2.5rem;
		line-height: 1;
	}

	.showcase-content p {
		font-size: 1rem;
	}

	#tab-1-content .tab-1-content-inner {
		grid-template-columns: 1fr;
		text-align: center;
	}

	#tab-2-content .tab-2-content-top {
		display: block;
		text-align: center;
	}

	#tab-2-content .tab-2-content-bottom {
		margin-top: 2rem;
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 2rem;
		text-align: center;
	}

	.btn-xl {
		font-size: 1rem;
		padding: 1.2rem 1.6rem;
		text-transform: uppercase;
	}
}

@media(max-height: 600px) {
  .showcase-content {
	margin-top: 3rem;
}
}
.works {
	-webkit-column-count: 3; 
	-moz-column-count: 3;
	column-count: 3;
	-webkit-column-gap: 2rem;
	-moz-column-gap: 2rem;
	column-gap: 2rem;
	-webkit-column-width: 33.3%;
	-moz-column-width: 33.3%;
	column-width: 33.3%;
	margin-top: 1rem;
  }
	.work, .lab {
	  display: block;
	  min-height: auto;
	  cursor: pointer;
	  transition: all 0.3s ease-in-out;
	  margin-bottom: 2rem;
	}
	  .work img {
		max-width: 100%;
	  }
		.work:hover {
		  transform: translateY(-10px);
		}
	
